<%= content_for :header do %>
  <h1>Contact Details</h1>
<% end %>
<%= @contact.name %>
<%= @contact.email %>
<%= link_to "Remove", contact_path(@contact.id), :method => :delete %>
<%= link_to "Edit", edit_contact_path(@contact.id) %>
<%= link_to "Return to Contacts", contacts_path %>
